// COLORS
$primary-color: #222;
$secondary-color: #6f634d;

$white-color: #fff;
$vintage-white: #E5E5DB;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #d4b255; // For Headings
$gold-accent: #d4b255;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
