html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: $primary-color;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}
